doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title= title
    link(href='/stylesheets/style.css', type='text/css', rel='stylesheet',
      media='screen,projection')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons',
      rel='stylesheet')
    meta(name="google-site-verification",
      content="b8yeDo-wp-Np4duI1SGzvI-YOby3MNtJX7qXU9JR-kg")

  body
    nav.primary-bg.lighten-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='/') Tyler Boyd
        ul.right.hide-on-med-and-down
          li
            a(href='tyler_boyd.pdf', target='_blank')
              i.fa.fa-cloud-download
              | &ensp;Resume
          li
            a(href='https://github.com/tyler-boyd', target='_blank')
              i.fa.fa-github
              | &ensp;Github
          li
            a(href='https://ca.linkedin.com/in/tyler-boyd-43162179', target='_blank')
              i.fa.fa-linkedin
              | &ensp;LinkedIn

        ul#nav-mobile.side-nav
          li
            a(href='tyler_boyd.pdf', target='_blank')
              i.fa.fa-cloud-download
              | &ensp;Resume
          li
            a(href='https://github.com/tyler-boyd', target='_blank')
              i.fa.fa-github
              | &ensp;Github
          li
            a(href='https://ca.linkedin.com/in/tyler-boyd-43162179', target='_blank')
              i.fa.fa-linkedin
              | &ensp;LinkedIn
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
    block content
    footer.page-footer
      .container.secondary-light
        .row
          .col.s12.l6: h5 Find me on social media
          .col.s12.l6
            a.white-text(href='https://github.com/tyler-boyd', target='_blank')
              i.fa.fa-github
              | &emsp;tyler-boyd
            br
            a.white-text(href='https://ca.linkedin.com/in/tyler-boyd-43162179', target='_blank')
              i.fa.fa-linkedin
              | &emsp;Tyler Boyd
            br
            a.white-text(href='mailto:me@tylerboyd.ca', target='_blank')
              i.fa.fa-envelope
              | &emsp;me@tylerboyd.ca
            br
      .footer-copyright.primary-bg
        .container &copy; Copyright Tyler Boyd #{(new Date()).getFullYear()}
    // Scripts
    script(src='/js/bundle.js')
